:root {
    --ff-100: 'Montserrat', system-ui, sans-serif;
    --ff-200: 'Fraunces', system-ui, serif;

    --fz-small: .75rem;
    --fz-medium: .88rem;
    --fz-large: 1.8rem;
    --fz-huge: 2rem;

    --fw-100: 500;
    --fw-200: 700;

    --clr-100: hsl(0, 0%, 100%);
    --clr-200: hsl(30, 38%, 92%);
    --clr-300: hsl(228, 12%, 48%, .85);
    --clr-400: hsl(158, 36%, 37%);
    --clr-500: hsl(158, 43%, 24%);
    --clr-600: hsl(212, 21%, 14%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

picture,
img {
    display: block;
    max-height: 100%;
}

body {
    display: grid;
    place-items: center;
    gap: 1.25rem;
    min-height: 100vh;
    min-height: 100dvh;
    font-family: var(--ff-100);
    background: var(--clr-200);
    color: var(--clr-300);
}

.product__card {
    align-self: end;
    width: calc(100% - 8rem);
    min-width: 22rem;
    height: 38.25rem;
    border-radius: 12px;
    overflow: hidden;
    background: var(--clr-100);
}

.product__image {
    height: 240px;
}

.product__image img {
    width: 100%;
    object-fit: cover;
}

.product__text {
    padding: 1.5rem 1.75rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.product__text > p:first-of-type {
    font-size: var(--fz-small);
    text-transform: uppercase;
    letter-spacing: 0.425em;
}

.product__text h1 {
    margin-top: .8rem;
    font-family: var(--ff-200);
    line-height: 1em;
    color: var(--clr-600);
}

.product__text > p:last-of-type {
    margin-top: 1.1rem;
    font-size: var(--fz-medium);
    line-height: 1.6em;
}

.product__price {
    margin-top: 1.3rem;
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.product__price h2 {
    font-family: var(--ff-200);
    font-size: var(--fz-huge);
    color: var(--clr-400);
}

.product__price p {
    font-size: .82rem;
    text-decoration: line-through;
}

button {
    margin-top: 1rem;
    height: 3rem;
    border: none;
    border-radius: 8px;
    font: inherit;
    font-size: var(--fz-medium);
    font-weight: var(--fw-200);
    background: var(--clr-400);
    color: var(--clr-200);
    cursor: pointer;
    transition: background 200ms, color 200ms;
}

button:hover {
    background: var(--clr-500);
    color: var(--clr-100);
}

button:focus {
    background: var(--clr-500);
    color: var(--clr-100);
    outline: 4px solid var(--clr-500);
    outline-offset: 4px;
}

button img {
    display: inline-block;
    margin: -2px 10px 0 0;
    vertical-align: middle;
}

.attribution {
    align-self: start;
    font-size: var(--fz-medium);
    text-align: center;
    color: var(--clr-600);
}

.attribution a {
    font-family: var(--ff-200);
    text-decoration: none;
    color: var(--clr-400);
    position: relative;
    transition: color 200ms;
}

.attribution a:hover,
.attribution a:focus {
    outline: none;
    color: var(--clr-100);
}

.attribution a::after {
    content: '';
    position: absolute;
    inset: 0;
    width: 101%;
    background: var(--clr-200);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 300ms, background-color 600ms;
}

.attribution a:hover::after,
.attribution a:focus::after {
    background: var(--clr-500);
    transform: scaleX(1);
}

@media screen and (min-width: 675px) {
    .product__card {
        width: 37.5rem;
        height: 27.5rem;
        display: flex;
    }

    .product__image {
        min-height: 100%;
        min-width: 50%;
    }

    .product__text {
        padding: 1.75rem 2rem;
    }

    .product__text h1 {
        margin-top: 1rem;
    }

    .product__text > p:last-of-type {
        margin-top: 1.5rem;
    }

    .product__price {
        margin-top: 1.5rem;
    }

    button {
        margin-top: auto;
    }
}